In [37]:
import pandas as pd
df = pd.read_csv('LT.csv')
df

,date,home_team,away_team,home_score,away_score,tourniment,city,country
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union
1,1979-07-22,Georgia,Lithuania,5,0,Friendly,Moscow,Soviet Union
2,1979-07-24,Azerbaijan,Lithuania,0,1,Friendly,Moscow,Soviet Union
3,1979-07-28,Lithuania,Ukraine,0,2,Friendly,Moscow,Soviet Union
4,1979-07-30,Russia,Lithuania,2,0,Friendly,Moscow,Soviet Union
...,...,...,...,...,...,...,...,...
362,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania
363,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine
364,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania

In [19]:
#1. Create a new column to calculate the amount of goals scored
df ['total_score'] = df['home_score'] + df['away_score']
df

,date,home_team,away_team,home_score,away_score,tourniment,city,country,total_score
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union,0
1,1979-07-22,Georgia,Lithuania,5,0,Friendly,Moscow,Soviet Union,5
2,1979-07-24,Azerbaijan,Lithuania,0,1,Friendly,Moscow,Soviet Union,1
3,1979-07-28,Lithuania,Ukraine,0,2,Friendly,Moscow,Soviet Union,2
4,1979-07-30,Russia,Lithuania,2,0,Friendly,Moscow,Soviet Union,2
...,...,...,...,...,...,...,...,...,...
362,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania,6
363,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine,2
364,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine,2
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania,3
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania,3

In [20]:
#2. Create a new column to calculate the goal difference
df ['score_diff'] = df['home_score'] - df['away_score'] # Difference in favour of the home team
df

,date,home_team,away_team,home_score,away_score,tourniment,city,country,total_score,score_diff
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union,0,0
1,1979-07-22,Georgia,Lithuania,5,0,Friendly,Moscow,Soviet Union,5,5
2,1979-07-24,Azerbaijan,Lithuania,0,1,Friendly,Moscow,Soviet Union,1,-1
3,1979-07-28,Lithuania,Ukraine,0,2,Friendly,Moscow,Soviet Union,2,-2
4,1979-07-30,Russia,Lithuania,2,0,Friendly,Moscow,Soviet Union,2,2
...,...,...,...,...,...,...,...,...,...,...
362,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania,6,-4
363,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine,2,2
364,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine,2,2
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania,3,-1
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania,3,-1

In [25]:
#3. How many matches ended in a draw? 
games_drawn = df[df['score_diff'] == 0]
games_drawn

,date,home_team,away_team,home_score,away_score,tourniment,city,country,total_score,score_diff
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union,0,0
7,1990-05-27,Georgia,Lithuania,2,2,Friendly,Tbilisi,Soviet Union,4,0
9,1991-11-17,Lithuania,Latvia,1,1,Baltic Cup,Kretinga,Lithuania,2,0
11,1992-04-28,Northern Ireland,Lithuania,2,2,FIFA World Cup qualification,Belfast,Northern Ireland,4,0
12,1992-05-20,Moldova,Lithuania,1,1,Friendly,Chi?in?u,Moldova,2,0
...,...,...,...,...,...,...,...,...,...,...
334,2018-06-05,Lithuania,Latvia,1,1,Friendly,Vilnius,Lithuania,2,0
353,2019-03-25,Azerbaijan,Lithuania,0,0,Friendly,Baku,Azerbaijan,0,0
354,2019-03-25,Azerbaijan,Lithuania,0,0,Friendly,Baku,Azerbaijan,0,0
355,2019-06-07,Lithuania,Luxembourg,1,1,UEFA Euro qualification,Vilnius,Lithuania,2,0
356,2019-06-07,Lithuania,Luxembourg,1,1,UEFA Euro qualification,Vilnius,Lithuania,2,0

In [27]:
print(f'Games drawn: {len(games_drawn)}')

Games drawn: 73

In [35]:
#4. Which country did we lose by the biggest difference, playing at home, when did it happen, in what city did the match take place?
df_sorted = df.sort_values(by='score_diff', ascending=True)
df_sorted_lt = df_sorted[df_sorted['home_team'] == 'Lithuania']
print(df_sorted_lt.iloc[0])

date                             2000-10-11
home_team                         Lithuania
away_team                           Hungary
home_score                                1
away_score                                6
tourniment     FIFA World Cup qualification
city                                 Kaunas
country                           Lithuania
total_score                               7
score_diff                               -5
Name: 108, dtype: object

In [29]:
#5. How many matches did Lithuania lose by playing abroad?
lost_abroad = df[(df['score_diff'] > 0 ) & (df['away_team'] == 'Lithuania')]
print(len(lost_abroad))

138

In [30]:
#6. How many matches did Lithuania win by playing abroad?
won_abroad = df[(df['score_diff'] < 0 ) & (df['away_team'] == 'Lithuania')]
print(len(won_abroad))

39

In [33]:
#7. How many matches did Lithuania win by playing in Lithuania?
won_at_home = df[(df['score_diff'] > 0 ) & (df['country'] == 'Lithuania') & (df['home_team'] == 'Lithuania')]
print(len(won_at_home))

47

In [ ]:
#8. How many matches did Lithuania lose by playing in Lithuania?
lost_at_home = df[(df['score_diff'] < 0) & (df['country'] == 'Lithuania') & (df['home_team'] == 'Lithuania')]
print(len(lost_at_home))

In [ ]:
#9. How many matches did Lithuanians play in a draw at home?
tied_at_home = df[(df['score_diff'] == 0 ) & (df['country'] == 'Lithuania') & (df['home_team'] == 'Lithuania')]
print(len(tied_at_home))

In [ ]:
#10. How many matches did Lithuanians play in a draw when playing abroad?
tied_abroad = df[(df['score_diff'] == 0 ) & (df['away_team'] == 'Lithuania')]
print(len(tied_abroad))